body {
    margin: 0;
    padding-top: 60px;
    box-sizing:border-box;
    font-family: Roboto, sans-serif;
  }

  *,
  *:before,
  *:after
  {
    box-sizing: border-box;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('../src/styles/fonts/Roboto/static/Roboto-Regular.ttf')
  }